{% block title %}
    <h2 class="fw-bold">Medication List</h2>
{% endblock %}

{% block body %}
    <section class="intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
                                <table class="table table-striped mb-0 text-center" style="font-size: 18px;">
                                    <thead style="background-color: #1E90FF; color: white;">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Medication Name</th>
                                            <th scope="col">Medical Note</th>
                                            <th scope="col">Dosage</th>
                                            <th scope="col">Patient Name</th>
                                            <th scope="col">Patient last name</th>
                                            <th scope="col">Disease</th>
                                            <th scope="col">Other Information</th>
                                           


                                    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if medications is not empty %}
                                            {% for medication in medications %}
                                                <tr>
                                                    <td>{{ medication.id }}</td>
                                                    <td>{{ medication.description }}</td>
                                                    <td>{{ medication.nameMedication }}</td>
                                                    <td>{{ medication.medicalNote }}</td>
                                                    <td>{{ medication.dosage }}</td>
                                                     {% if medication.biologicalData %}
            <td>{{ medication.biologicalData.patientName }}</td>
            <td>{{ medication.biologicalData.patientLastName }}</td>
            <td>{{ medication.biologicalData.disease }}</td>
            <td>{{ medication.biologicalData.otherInformation }}</td>
            {% endif %}
                                                    
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="7">No records found</td> <!-- colspan="7" car il y a 7 colonnes dans le tableau -->
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
