

{% block title %}Medication{% endblock %}

{% block body %}
    <h1>Medication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medication.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ medication.description }}</td>
            </tr>
            <tr>
                <th>NameMedication</th>
                <td>{{ medication.nameMedication }}</td>
            </tr>
            <tr>
                <th>MedicalNote</th>
                <td>{{ medication.medicalNote }}</td>
            </tr>
            <tr>
                <th>Dosage</th>
                <td>{{ medication.dosage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medication_index') }}">back to list</a>

    <a href="{{ path('app_medication_edit', {'id': medication.id}) }}">edit</a>

    {{ include('medication/_delete_form.html.twig') }}
    
{% endblock %}
