{# templates/biological_data/new.html.twig #}
{%extends 'base.html.twig'%}
{% block body %}
    <h1>Create new BiologicalData</h1>

    {{ form_start(form) }}
    {{ form_row(form.bracelet) }}

    {# Vérifier si un bracelet est associé #}
    {% if form.bracelet.vars.value == true %}
        <a href="{{ path('information') }}">Link to information</a>
    {% endif %}

    <button type="submit">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_biological_data_index') }}">back to list</a>


     <!-- Bouton Back to your dashboard -->
    <div class="container mt-3">
        <a href="{{ path('app_health_professional_doctor_dashboard') }}" class="btn btn-secondary">Back to your dashboard</a>
    </div>
{% endblock %}
