{# show_pdf.html.twig #}



{% block title %}Biological Data{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card bg-light">
            <h1 class="card-header text-primary">Biological Data</h1>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <tbody>
                        {# Display biological data #}
                        <tr>
                            <th>Id</th>
                            <td>{{ biological_datum.id }}</td>
                        </tr>
                        <tr>
                            <th>Timestamp</th>
                            <td>{{ biological_datum.timestamp ? biological_datum.timestamp|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Measurement Type</th>
                            <td>{{ biological_datum.measurementType }}</td>
                        </tr>
                        <tr>
                            <th>Value</th>
                            <td>{{ biological_datum.value }}</td>
                        </tr>
                        <tr>
                            <th>Patient Name</th>
                            <td>{{ biological_datum.patientName }}</td>
                        </tr>
                        <tr>
                            <th>Patient Last Name</th>
                            <td>{{ biological_datum.patientLastName }}</td>
                        </tr>
                        <tr>
                            <th>Patient Age</th>
                            <td>{{ biological_datum.patientAge }}</td>
                        </tr>
                        <tr>
                            <th>Disease</th>
                            <td>{{ biological_datum.disease }}</td>
                        </tr>
                        <tr>
                            <th>Other Information</th>
                            <td>{{ biological_datum.otherInformation }}</td>
                        </tr>
                        
                       
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
{% endblock %}
