{% extends 'waw.html.twig' %}

{% block title %}List of Patients with Bracelet{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>List of Patients with Bracelet</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>disease</th>
                    <th>Other Information</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.id }}</td>
                        <td>{{ patient.patientName }}</td>
                        <td>{{ patient.patientLastName }}</td>
                        <td>{{ patient.patientAge }}</td>
                         <td>{{ patient.disease}}</td>
                         <td>{{ patient.otherInformation}}</td>
                     
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Button to go back to statistical page -->
        <a href="{{ path('app_doctor_statistical') }}" class="btn btn-primary">Back to Statistics</a>
    </div>
{% endblock %}