{% block body %}
<div class="container center-content">
    <h2>Welcome  {{ app.user.firstName }} {{ app.user.lastName }}</h2>
    <p class="lead">Here you can manage your appointments and perform other owner-specific actions.</p>

    <!-- Informations utilisateur -->
    <div id="userInfo" class="hidden">
        <h3 class="mt-5">Profile</h3>
        <p id="displayFirstName">First Name: {{ app.user.firstName }}</p>
        <p id="displayLastName">Last Name: {{ app.user.lastName }}</p>
        <p id="displayEmail">Email: {{ app.user.email }}</p>
         <strong>Your Code Bracelet: <span id="code">{{ code }}</span></strong>
    </div>

    <!-- Lien vers les informations du bracelet -->
    <h3 class="mt-5">Bracelet Information</h3>
    <a href="{{ path('app_bracelet') }}" class="btn btn-primary">View Bracelet Information</a>

    <!-- Affichage des rendez-vous -->
    <!-- Bouton pour créer un rendez-vous -->
    <h2>Create Appointment</h2>
    <a href="{{ path('create_appointment') }}" class="btn btn-primary">Create Appointment</a>
    <h3 class="mt-5">Appointments</h3>
    <table class="custom-table mt-3">
        <thead>
            <tr>
                <th>Date</th>
                <th>Doctor</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.dateTime|date('Y-m-d H:i:s') }}</td>
                <td>{{ appointment.doctor.firstName }} {{ appointment.doctor.lastName }}</td>
                <td>{{ appointment.description }}</td>
                <td>{{ appointment.status }}</td>
                <td>
                    <a href="{{ path('edit_appointment', {'id': appointment.id}) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ path('delete_appointment', {'id': appointment.id}) }}" class="btn btn-danger">Cancel</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Bouton pour vérifier les notifications -->
    <a href="{{ path('check_appointments') }}" class="btn btn-primary">Check Notifications</a>

    <!-- Affichage des notifications -->
    {% for flashType, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
    <div class="alert alert-{{ flashType }}">
        {% if flashType == 'success' %}
        {% set messageParts = flashMessage|split('ID: ') %}
        {% set message = messageParts[0] %}
        {% set appointmentId = messageParts|length > 1 ? messageParts[1] : null %}
        {{ message }}
        {% if appointmentId is not null %}
        <a href="{{ path('delete_notification', {'id': appointmentId}) }}" class="btn btn-danger">Delete</a>
        <a href="{{ path('delete_appointment', {'id': appointmentId}) }}" class="btn btn-danger">Cancel</a> {# Ajout du bouton Cancel #}
        {% endif %}
        {% else %}
        {{ flashMessage }}
        {% endif %}
    </div>
    {% endfor %}
    {% endfor %}

    <!-- Lien vers le calendrier du propriétaire -->
    <h3 class="mt-5">Owner Calendar</h3>
    <a href="{{ path('app_owner_calendar') }}" class="btn btn-primary">View Owner Calendar</a>
    
    <!-- Lien pour gérer les calendriers -->
    <div class="mt-3">
        <a href="{{ path('calendar_index') }}" class="btn btn-info">Manage Calendars</a>
    </div>
</div>
{% endblock %}
