{% extends 'base-back.html.twig' %}

{% block title %}User Details{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 800px;
            margin: auto;
        }

        .card {
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            margin-bottom: 20px;
        }

        .card-title {
            margin-bottom: 0;
        }

        .table th {
            width: 30%;
            background-color: #f2f2f2;
            border: 1px solid #dee2e6;
            padding: 10px;
        }

        .table td {
            border: 1px solid #dee2e6;
            padding: 10px;
        }

        .btn-group {
            margin-top: 20px;
        }
    </style>
{% endblock %}



{% block body %}

<div class="main" id="main">
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Details</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">First Name</th>
                            <td>{{ user.firstName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td>{{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Roles</th>
                            <td>{{ user.roles ? user.roles|join(', ') : 'N/A' }}</td>
                        </tr>
                        <!-- Add more rows for other user attributes as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="btn-group">
        <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Back to List</a>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>
            {{ include('user/_delete_form.html.twig') }}

    </div>

</div>
</div>


{% endblock %}
